:root{ 
    
    --clr-primary: #FFA700; 
    --clr-black: #3d4152; 
    --clr-pure: #fff; 

    --fs-100: 10px; 
    --fs-300: 14px; 
    --fs-400: 16px; 
    --fs-600: 18px; 
    --fs-700: 24px; 


    --fw-700: 700; 
    --fw-400: 400; 
    --fw-300: 300;
    --fw-100: 100;

}



.container{ 
    --max-width: 1010px; 
    --padding: 1rem; 

    width: min(var(--max-width), 100% - (var(--padding) * 2)); 
    margin-inline: auto;
}


/*  flex properties  */
.flex { 
    display: flex;
}

.justify-center { 
    justify-content: center;
}

.justify-between{ 
    justify-content: space-between;
}

.align-center{ 
    align-items: center;
}



/* --------------- typography --------------- */
.fs-10{ 
    font-size: var(--fs-100);
}

.fs-16{ 
    font-size: var(--fs-400); 
}

.fs-14 { 
    font-size: var(--fs-300); 
}

.fs-24 { 
    font-size: var(--fs-700);
}


.fs-18 { 
    font-size: var(--fs-600); 
}


.section-heading{ 
    font-size:var(--fs-700); 
    font-weight: var(--fw-700);
}


/* ----------------- padding -------------------- */
.paddingY-32{ 
    padding: 32px;
}